.header {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -0.5px;
}

@media (max-width: 600px){
  .header{
    margin: 1em;
  }
  .title{
    font-size: 1.7rem;
  }
}