* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
}
body {
	margin: 0;
  background-color: #f9fafb; /* soft gray */
  color: #1f2937;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
body,
#root {
	height: 100vh;
}
#root {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
